.discord-messages {
  border-radius: 0.25rem;
  background-color: #36393f !important;
}

.discord-message .discord-author-info .discord-bot-tag {
  background-color: #5865f2 !important;
}

.discord-message-timestamp {
  display: none;
}

.discord-message .discord-mention {
  color: hsl(236, 83.3%, 92.9%) !important;
  border-radius: 3px;
  background-color: rgba(88, 101, 242, 0.3) !important;
  font-weight: 500;
  padding: 0 1px;
}

.discord-message .discord-mention:hover {
  color: hsl(236, 83.3%, 92.9%) !important;
  background-color: rgb(88, 101, 242) !important;
}

.discord-message.discord-highlight-mention .discord-mention:hover {
  color: #5865f2 !important;
}
